os: osx
language: objective-c
#xcode_project: videoLat/videoLat.xcworkspace
#xcode_scheme: videoLat-macos
script:
  - set -o pipefail && xcodebuild -workspace videoLat/videoLat.xcworkspace -scheme $MY_SCHEME -destination $MY_DESTINATION build test | xcpretty
env:
  matrix:
   - MY_SCHEME=videoLat-macos MY_DESTINATION='platform=macOS'
   - MY_SCHEME=videoLat-iOS MY_DESTINATION='platform=iOS Simulator,OS=11.4,name=iPhone 6'
